BUNQ_API_URL=https://public-api.sandbox.bunq.com/v1
BUNQ_API_KEY=

BUNQ_LOGIN_CODE=000000
BUNQ_PHONE=
BUNQ_EMAIL=

INSTALLATION_TOKEN=
SESSION_TOKEN=
USER_ID=
MONETARY_ACCOUNT_ID=
BUNQ_INSTALLATION_KEY_PATH=./bunq-user-1/installation.key
BUNQ_IBAN=


BUNQ_USER2_API_KEY=
BUNQ_USER2_DISPLAY_NAME=
BUNQ_USER2_PHONE=
BUNQ_USER2_EMAIL=

BUNQ_USER2_INSTALLATION_TOKEN=
BUNQ_USER2_SESSION_TOKEN=
BUNQ_USER2_USER_ID=
BUNQ_USER2_MONETARY_ACCOUNT_ID=
BUNQ_USER2_IBAN=

BUNQ_BIZ1_API_KEY=
BUNQ_BIZ1_DISPLAY_NAME=
BUNQ_BIZ1_PHONE=
BUNQ_BIZ1_EMAIL=

BUNQ_BIZ1_INSTALLATION_TOKEN=
BUNQ_BIZ1_SESSION_TOKEN=
BUNQ_BIZ1_USER_ID=3625835
BUNQ_BIZ1_MONETARY_ACCOUNT_ID=
BUNQ_BIZ1_IBAN=


ANTHROPIC_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-1

CARD_NAME=
# CARD_PIN=######
CARD_PIN=####